* {
  font-display: "Arial";
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Orbitron", cursive;
  font-size: small;
  bac
}

body {
  min-height: 100vh;
  /* background-image: linear-gradient(
    179.1deg,
    rgba(247, 238, 238, 1) -1.9%,
    rgba(247, 202, 201, 1) 44.9%,
    rgba(145, 168, 208, 1) 96.1%
  ); */
  background-image: linear-gradient(
    75.5deg,
    rgba(217, 115, 115, 1) 22.3%,
    rgba(234, 245, 165, 1) 59.1%,
    rgba(165, 245, 242, 1) 89.7%
  );
}

section {
  background-color: transparent;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: transparent;
}
.title {
  text-align: center;
  font-size: xx-large;
  background-color: transparent;
  padding-bottom: 10px;
}

.sec-main {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.sec-game {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  width: 60%;
  height: inherit;
  background: white;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.sec-game :hover {
  color: rgb(134, 17, 109);
}

.letter-cube {
  display: inline-block;
  width: 100px;
  height: 60px;
  border: 4px solid black;
  border-radius: 10px;
  margin: 2px;
  background: white;
  color: black;
  font-family: "Orbitron", cursive;
  font-size: xx-large;
  text-align: center;
  padding-top: 5px;
}

.letter-cube-light {
  background-color: black;
}

.sec-options {
  display: block;
  width: 35%;
  height: inherit;
  background: white;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.drop-down {
  width: 220px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
}

.drop-down option {
  font-weight: bold;
  font-size: medium;
}

fieldset {
  height: inherit;
  border: none;
  background: inherit;
  padding: 10px;
}

article {
  background: inherit;
}
article div {
  background: inherit;
}
article div p {
  background: inherit;
  font-family: inherit;
  font-size: inherit;
}

ol {
  background: inherit;
  font-family: inherit;
  font-size: inherit;
}
li {
  background: inherit;
  font-family: inherit;
  font-size: inherit;
}
legend {
  margin-top: 10px;
  background: inherit;
}
strong {
  background: inherit;
}

hr {
  margin: 10px;
}

.sec-options-base {
  background: inherit;
  display: block;
  padding-left: 10px;
  margin-top: 10px;
  font-family: "Roboto", cursive;
  font-size: medium;
}
.sec-options-text {
  background: inherit;
  display: block;
  padding-left: 50px;
  margin-top: 10px;
  font-family: "Roboto", cursive;
  font-size: medium;
}

.sec-options-nivel {
  padding: 10px;
}

.lbl-base {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: medium;
}
.lbl-nivel {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: darkseagreen;
  font-style: normal;
}

.lbl-nivel-pass {
  background: green;
  color: white;
}

.level__container--inactive {
  display: none;
}

.level__container--active {
  display: block;
}

.btn-base {
  display: inline-block;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  font-style: italic;
  margin: 10px;
  width: 180px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.disabled {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(226, 240, 254, 1) 0%,
    rgba(255, 247, 228, 1) 90%
  );
  color: black;
}
.no-disabled {
  background: linear-gradient(to right, #0575e6, #021b79);
  color: white;
}

.lightLetther {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1000px) {
  .banner {
    height: 15vh;
  }
  .title {
    font-size: x-large;
  }
  .sec-main {
    display: block;
    margin-left: 10%;
  }
  .sec-game {
    width: 80%;
  }
  .sec-options {
    margin-top: 20px;
    width: 80%;
  }
  .sec-options strong {
    font-size: medium;
  }
  .letter-cube {
    width: 80px;
    height: 45px;
    font-size: x-large;
  }
}

@media screen and (max-width: 650px) {
  .banner {
    height: 10vh;
  }
  .title {
    font-size: x-large;
  }
  .letter-cube {
    width: 50px;
    height: 30px;
    font-size: large;
  }
  .sec-options {
    margin-top: 20px;
    width: 80%;
  }
  .sec-options strong {
    font-size: small;
  }
  .sec-options-base {
    font-size: small;
  }

  .sec-options-text {
    font-size: small;
    padding-left: 25px;
  }

  .lbl-nivel {
    height: 25px;
    width: 25px;
  }

  select {
    display: block;
  }
  .btn-base {
    margin: 10px;
    width: 130px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-size: small;
  }
}

@media screen and (max-width: 460px) {
  hr {
    margin: 3px;
  }
  fieldset {
    padding: 3px;
  }
  .banner {
    height: 8vh;
  }
  .title {
    font-size: x-large;
  }
  .letter-cube {
    width: 35px;
    height: 20px;
    font-size: medium;
  }
  .sec-options {
    margin-top: 3px;
  }
  .sec-options strong {
    font-size: smaller;
  }
  .sec-options-base {
    font-size: smaller;
  }
  .sec-options-text {
    font-size: smaller;
  }

  .sec-options-nivel {
    padding: 3px;
  }

  .drop-down {
    display: block;
    width: 140px;
    height: 18px;
    font-size: xx-small;
  }

  .drop-down::-webkit-input-placeholder {
    font-size: smaller;
  }

  .drop-down option {
    min-height: 0.8em;
    font-size: smaller;
  }

  .btn-base {
    margin: 3px;
    width: 100px;
    height: 18px;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: xx-small;
  }

  .lbl-base {
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 8px;
  }
  .lbl-nivel {
    height: 10px;
    width: 12px;
    border: 1px solid lightgray;
    font-weight: bold;
    font-size: 8px;
    font-style: normal;
  }
}
